<div class="text-center contact-buttons clearfix row">
	<div class="col-sm-offset-1 col-sm-10 col-xs-12">
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-4">
				<a class="contact-button" href="http://steamcommunity.com/groups/TEAMPEGGLE" title="Play some games"><span class="fa fa-steam"></span></a>
			</div>

			<div class="col-md-2 col-sm-2 col-xs-4">
				<a class="contact-button" href="mailto:badmin@teampeggle.com?Subject=A%20CHALLENGER%20APPEARS!" title="Send Hatemail"><span class="fa fa-envelope"></span></a>
			</div>

			<div class="col-md-2 col-sm-2 col-xs-4">
				<a class="contact-button" href="irc://irc.synirc.net/ppp" title="Talk to PeggleBot on IRC"><span class="fa fa-comments"></a>
			</div>

			<div class="col-md-2 col-sm-2 col-xs-6">
				<a class="contact-button" href="http://forums.teampeggle.com" title="Flame on the Forums"><span class="fa fa-meh-o"></a>
			</div>

			<div class="col-md-2 col-sm-2 col-xs-6">
				<a class="contact-button" href="ts3server://ts3.teampeggle.com?port=9987" title="Scream on Teamspeak"><span class="fa fa-microphone"></a>
			</div>

			<div class="col-md-2 col-sm-2 col-xs-12">
				<a class="contact-button" href="http://www.twitch.tv/teampeggle" title="Watch us play games poorly on Twitch"><span class="fa fa-twitch"></a>
			</div>
		</div>
	</div>
</div>
