#content {
	padding: $content-padding-width;
	border-radius: 5px;
	border: $content-border-width solid $content-border-color;
	color: $content-foreground-color;
	background-color: $content-background-color;

	a, a:active, a:visited {
		color: $link-color;
		font-weight: bold;
	}

	a:hover {
		color: $link-hover-color;
	}
}
