.contact-buttons {
	margin: 2em 0;
}

.contact-buttons {
	.row {
		display: flex;
		justify-content: center;
	}

	.contact-button {
		color: $contact-button-foreground-color;
		background-color: $contact-button-background-color;
		border: $contact-button-border-width solid $contact-button-border-color;

		border-radius: 100%;

		display: inline-block;
		position: relative;

		font-size: $contact-button-font-size;

		text-align: center;

		width: $contact-button-size;
		height: $contact-button-size;

		transition: all 0.2s;

		span {
			display: inline-block;
			width: $contact-button-font-size;
			height: $contact-button-font-size;
			line-height: $contact-button-font-size;

			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: $contact-button-font-size / -2;
			margin-top: $contact-button-font-size / -2;
		}

		&:hover {
			color: $contact-button-hover-foreground-color;
			background-color: $contact-button-hover-background-color;
			border-color: $contact-button-hover-border-color;
		}
	}
}
