#content {
	padding: 20px;
	background: rgba(255, 255, 255, 0.95);
	border-radius: 5px;
	border: 6px solid #333;

	a, a:active, a:visited {
		color: #FF99FF;
		font-weight: bold;
	}

	a:hover {
		color: #FFAAFF;
	}
}
