html, body {
	font-size: $font-size;
}

audio:not([controls]) {
	display: none;
}

::selection {
	background: $selected-text-background-color;
	color: $selected-text-foreground-color;
}

::-moz-selection {
	background: $selected-text-background-color;
	color: $selected-text-foreground-color;
}

hr {
	border-color: $horizontal-rule-color;
}
