---
---

html, body {
	color: #333;
	font-size: 13px;
}

a, a:active, a:visited {
	color: #FF99FF;
	font-weight: bold;
}

a:hover {
	color: #FFAAFF;
}

::selection {
	background: #FF99FF;
	color: white;
}

::-moz-selection {
	background: #FF99FF;
	color: white;
}

#background-container {
	background-color: #333;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#content {
	padding: 20px;
	background: rgba(255, 255, 255, 0.95);
	border-radius: 0px 0px 5px 5px;
	border: 6px solid #333;
	border-top: 0px;
}

hr {
	border-color: #333;
}

audio:not([controls]) {
	display: none;
}

@import 'rotate';
