<!DOCTYPE html>
<html>
	<head>
		<title>
			{% if page.title %}
				~{{ page.title }}~
			{% endif %}
			[{{ site.name }}]
		</title>
		<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
		<link href="/assets/css/rotate_peggle.css" rel="stylesheet" type="text/css">
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<script type="text/javascript" src="http://code.onion.com/fartscroll.js"></script>
		<script type="text/javascript" src="/assets/js/app.js"></script>
	</head>
	<body>
		<div id="content-container">
			<div id="content">
				{{ content }}
			</div>
		</div>

		<div id="background-container">
			<img alt="peggle4ever" src="/assets/images/teampeggle.png" />
		</div>
	</body>
</html>
