<!DOCTYPE html>
<html>
	<head>
		<title>
			{% if page.title %}
				~{{ page.title }}~
			{% endif %}
			[{{ site.name }}]
		</title>

		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

		<link href="/assets/css/main.css" rel="stylesheet" type="text/css">

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<script type="text/javascript" src="//code.onion.com/fartscroll.js"></script>
		<script type="text/javascript" src="/assets/js/app.js"></script>
	</head>
	<body>
		<div id="content-container" class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div id="content">
						{{ content }}
					</div>
				</div>
			</div>
		</div>

		<div id="background-container">
			<img alt="peggle4ever" class="rotate" src="/assets/images/teampeggle.png" />
		</div>
	</body>
</html>
