<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.name }}</title>
		<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
		<link href="/assets/css/rotate_peggle.css" rel="stylesheet" type="text/css">
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body>
		<div id="content-container">
			<div id="content">
				{{ content }}

				<audio controls autoplay>
					<source src="/assets/media/teamPegglePresents.mp3" type="audio/mpeg">
					Your browser does not support this audio format.
				</audio>
			</div>
		</div>

		<div id="background-container">
			<img alt="peggle4ever" src="/assets/images/teampeggle.png" />
		</div>
	</body>
</html>
